body {
    background-color: #fff;
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
}
h1, h2, h3 {
    margin-bottom: .2em;
}
.poem {
    margin: 0 2em;
}
.highlight {
    background-color: #ccc;
    border: 1px solid #888;
    font-style: italic;
    margin: 0.5em 0;
    padding: 0.5em;
}

.horizontal {
    float: left;
    list-style: none;
    margin: 10px;
}

.sub-level {
    background: #ccc;
}

a {
    color: #00c;
}
a.mailto {
    color: red;
    padding-right: 18px;
}
a.pdflink {
    color: aqua;
    padding-right: 18px;
}
a.henrylink {
    background-color: #fff;
    padding: 2px;
    border: 1px solid #000;
}

a.external {
    color: chartreuse;
    background: #fff url(images/external.png) no-repeat 100% 2px;
    padding-right: 16px;
}

tr {
    background-color: #fff;
}
.alt {
    background-color: #ccc;
}


body.large .chapter {
  font-size: 1.5em;
}

body.narrow .chapter {
   width: 250px;
 }

.selected {
  font-weight: bold;
}

.hidden {
  display: none;
}

.hover {
  cursor: pointer;
  background-color: #afa;
}

.pulled {
    position: absolute;
    width: 120px;
    top: -20px;
    right: -180px;
    padding: 20px;
    font: italic 1.2em "Times New Roman", Times, serif;
    background: #e5e5e5;
    border: 1px solid #999;
    border-radius: 8px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}

#dictionary {
    position: absolute;
    width: 400px;
    top: 10px;
    left: 50px;
}
