
html, body {
    margin: 0;
    padding: 0;
}

body {
    font: 80% Verdana, Helvetica, Arial, sans-serif;
    color: #000;
    background: #fff;
}
#container {
    margin: 10px 2em;
}

h1 {
    font-size: 2.5em;
    /*  margin-bottom: 0;*/
}

h2 {
    font-size: 1.3em;
    margin-bottom: .5em;
}
h3 {
    font-size: 1.1em;
    margin-bottom: 0;
}

code {
    font-size: 1.2em;
}

a {
    color: #06581f;
}

.poem {
    margin: 0 2em;
}
.highlight {
    background-color: #ccc;
    border: 1px solid #888;
    color: red;
    margin: 0.5em 0;
    padding: 0.5em;
}

.horizontal {
    float: left;
    list-style: none;
    margin: 10px;
}

.sub-level {
    background: #ccc;
}

a {
    color: #00c;
}
a.mailto {
    color: red;
    padding-right: 18px;
}
a.pdflink {
    color: aqua;
    padding-right: 18px;
}
a.henrylink {
    background-color: #fff;
    padding: 2px;
    border: 1px solid #000;
}

a.external {
    color: chartreuse;
    background: #fff url(images/external.png) no-repeat 100% 2px;
    padding-right: 16px;
}

tr {
    background-color: #fff;
}
.alt {
    background-color: #ccc;
}

.active {
    background-color: #ccc;
    color: blue;
}



body.large .chapter {
  font-size: 1.5em;
}

body.narrow .chapter {
   width: 250px;
 }

.selected {
  font-weight: bold;
}

.hidden {
  display: none;
}

.hover {
  cursor: pointer;
  background-color: #afa;
}

.pulled {
    position: absolute;
    width: 120px;
    top: -20px;
    right: -180px;
    padding: 20px;
    font: italic 1.2em "Times New Roman", Times, serif;
    background: #e5e5e5;
    border: 1px solid #999;
    border-radius: 8px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}

#dictionary {
    position: absolute;
    width: 400px;
    top: 10px;
    left: 50px;
}

.ljq-tooltip-text {
    background: #e5e5e5;
    border: 1px solid #999;
    border-radius: 1px;
}

#gallery {
    width: 600px;
}

#more-photos {
    clear: left;
    display: block;
    margin: 1em 0;
}

.photo {
    float: left;
    position: relative;
    overflow: hidden;
    width: 180px;
    height: 140px;
    margin: 10px;
    -webkit-box-shadow: #777 2px 2px 8px;
    -moz-box-shadow: #777 2px 2px 8px;
    -o-box-shadow: #777 2px 2px 8px;
    box-shadow: #777 2px 2px 8px;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -o-border-radius: 1em;
    border-radius: 1em;

}
.photo img {
    display: block;
    padding: 10px;

}

.photo .details {
    display: none;
    position: absolute;
    overflow: hidden;
    left: 10px;
    top: 10px;
    width: 160px;
    height: 120px;
    z-index: 1;
    background-color: #333;
    color: #fff;
}
.photo .details .description {
    padding: 10px;
    font-size: 10px;
    font-weight: bold;
}
.photo .details .date {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 9px;
}
.photo .details .photographer {
    position: absolute;
    right: 5px;
    bottom: 15px;
    font-size: 9px;
}

.selected .details {
    background-color: #060;
}
